{% extends "base.html" %}

{% block content %}
<h2>Admin Dashboard</h2>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">System Queries</div>
            <div class="card-body">
                <div class="list-group">
                    <a href="/admin/query/1" class="list-group-item list-group-item-action">1. Find "Wang X Ming" Consumption</a>
                    <a href="/admin/query/2" class="list-group-item list-group-item-action">2. Below Average Spenders</a>
                    <a href="/admin/query/3" class="list-group-item list-group-item-action">3. Top 10 Spenders (Post Dec 15)</a>
                    <a href="/admin/query/4" class="list-group-item list-group-item-action">4. Busiest Access Point</a>
                    <a href="/admin/query/5" class="list-group-item list-group-item-action">5. Smart Dept Max Merchant</a>
                    <a href="/admin/query/6" class="list-group-item list-group-item-action">6. High Frequency Users</a>
                    <a href="/admin/query/7" class="list-group-item list-group-item-action">7. CS Dept Night Access</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
